
  body {
    background-color: #7da2a9;
    color:oldlace;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5rem;
    height: 100%;
  }

  a {
    color:oldlace;
  }
  
  #outer-container {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  #sidebar {
    display: table-cell;
    width: 40%;
    vertical-align: top;
  }
  
  #content {
    display: table-cell;
    width: 60%;
    padding-top: 8%;
  }
  
  
  html {
    height: 100%;
  }
  
